html,body { /* ATTENTION: if You want to have a 100% height then HTML,BODY must be 100% too!!!!! */
	height : 100%;
	overflow: hidden;
}

.clear {
	clear      : both;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	overflow   : hidden;
	float      : none !important;
	border     : 0 none !important;
}

div.container {
	background-image : url('images/home_bg.jpg');
	position         : relative;
	height           : 100%; /*ATTENTION: for 100% height HTML and BODY must be 100% too!!!*/
}
article.about {
	position : absolute;
	bottom   : 105px;
	transition: all ease-out 150ms;
}

article.about.mapOpen {
	transform: scale(0.95);
	filter : blur(3px);
}

article.about p.about {
	font-family: 'Marcellus SC', serif;
	/*font-family    : Helvetica, arial, freesans, clean, sans-serif;*/
	color          : #939393;
	font-size      : 85px;
	font-weight    : 200;
	letter-spacing : 2px;
	padding-left   : 20px;
	text-transform : capitalize;
}

article.about p.about span {
	font-size : 67px;
}

section.social-hubs {
	
	position        : absolute;
	padding         : 10px 0px 10px 20px;
	bottom          : 0;
	left            : 0;
	right           : 0;
	transition: all ease-out 150ms;	
}

section.social-hubs.mapOpen {
	transform: scale(0.95);
	
	filter : blur(3px);
}

section.social-hubs ul {
	
}

section.social-hubs ul li {
	float : left;
	
}
section.social-hubs ul li a {
	display      : block;
	width        : 48px;
	height     	 : 48px;
	margin-right : 20px;
}

section.social-hubs ul li.email a {
	background-image : url('images/mailw.png');
}

section.social-hubs ul li.github a {
	background-image : url('images/githubw.png');
}

section.social-hubs ul li.plus a {
	background-image : url('images/googleplusw.png');
}

section.social-hubs ul li.linkedin a {
	background-image : url('images/linkedinw.png');
}

section.social-hubs ul li.weblog a {
	background-image : url('images/aboutmew.png');
}

section.social-hubs ul li.contact a  {
	width: auto;
	line-height: 48px;
	color: #aaa;
	font-family: 'Marcellus';
	text-decoration: none;
	font-size: 25px;
}

section.social-hubs ul li.email a:hover {
	background-image : url('images/mail.png');
}

section.social-hubs ul li.github a:hover {
	background-image : url('images/github.png');
}

section.social-hubs ul li.plus a:hover {
	background-image : url('images/googleplus.png');
}

section.social-hubs ul li.linkedin a:hover {
	background-image : url('images/linkedin.png');
}

section.social-hubs ul li.weblog a:hover {
	background-image : url('images/aboutme.png');
}




div.contact_box {
	position: absolute;
	width : 100vw;
	height: 100vh;
	animation-duration: 500ms;
	opacity: 0;
	z-index: -1;
	transform: rotateY(-10deg);
}

div.contact_box.open {
	transform: rotateY(0deg);
}

.map_container {
	position: absolute;
	width : 75vw;
	height: 75vh;
	left :0;
	right : 0;
	bottom : 0;
	top :0;
	margin : auto;
	z-index: 0;
}

div.contact_box #map {
	width : 100%;
	height: 100%;

}

@media only screen and (max-width: 1000px) and (min-width: 641px) {
	article.about p.about {
		font-size: 5.9vw;
	}

	section.social-hubs ul li a {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		background-size: 30px;
	}

	section.social-hubs ul li.contact a {
		font-size: 25px;
		line-height: 30px;
	}
}

@media only screen and (max-width: 640px) {
	article.about p.about {
		font-size: 7.5vw;
	}

	section.social-hubs ul li a {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		background-size: 30px;
	}

	section.social-hubs ul li.contact a {
		font-size: 20px;
		line-height: 30px;
	}
}