html,body { /* ATTENTION: if You want to have a 100% height then HTML,BODY must be 100% too!!!!! */
	height : 100%;
}

.clear {
	clear      : both;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	overflow   : hidden;
	float      : none !important;
	border     : 0 none !important;
}

div.container {
	background-image : url('images/home_bg.jpg');
	position         : relative;
	height           : 100%; /*ATTENTION: for 100% height HTML and BODY must be 100% too!!!*/
}
article.about {
	position : absolute;
	bottom   : 105px;
}

article.about p.about {
	font-family    : Helvetica, arial, freesans, clean, sans-serif;
	color          : #707070;
	font-size      : 90px;
	font-weight    : 200;
	letter-spacing : 2px;
	padding-left   : 20px;
	text-transform : capitalize;
}

article.about p.about span {
	font-size : 70px;
}

section.social-hubs {
	background-image: url('images/bg_noise.png');
	position        : absolute;
	padding         : 10px 0px 10px 20px;
	bottom          : 0;
	left            : 0;
	right           : 0;	
}

section.social-hubs ul {
	
}

section.social-hubs ul li {
	float : left;
	
}
section.social-hubs ul li a {
	display      : block;
	width        : 48px;
	height     	 : 48px;
	margin-right : 20px;
}

section.social-hubs ul li.email a {
	background-image : url('images/mailw.png');
}

section.social-hubs ul li.github a {
	background-image : url('images/githubw.png');
}

section.social-hubs ul li.plus a {
	background-image : url('images/googleplusw.png');
}

section.social-hubs ul li.mobile a {
	background-image : url('images/linkedinw.png');
}

section.social-hubs ul li.weblog a {
	background-image : url('images/aboutmew.png');
}

section.social-hubs ul li.email a:hover {
	background-image : url('images/mail.png');
}

section.social-hubs ul li.github a:hover {
	background-image : url('images/github.png');
}

section.social-hubs ul li.plus a:hover {
	background-image : url('images/googleplus.png');
}

section.social-hubs ul li.mobile a:hover {
	background-image : url('images/linkedin.png');
}

section.social-hubs ul li.weblog a:hover {
	background-image : url('images/aboutme.png');
}